@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Light.eot');
    src: url('../fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Light.woff2') format('woff2'),
         url('../fonts/Merriweather-Light.woff') format('woff'),
         url('../fonts/Merriweather-Light.ttf') format('truetype'),
         url('../fonts/Merriweather-Light.svg#merriweather_lightregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-UltraBold.eot');
    src: url('../fonts/Merriweather-UltraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-UltraBold.woff2') format('woff2'),
         url('../fonts/Merriweather-UltraBold.woff') format('woff'),
         url('../fonts/Merriweather-UltraBold.ttf') format('truetype'),
         url('../fonts/Merriweather-UltraBold.svg#merriweather_ultraboldregular') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Bold.eot');
    src: url('../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Bold.woff2') format('woff2'),
         url('../fonts/Merriweather-Bold.woff') format('woff'),
         url('../fonts/Merriweather-Bold.ttf') format('truetype'),
         url('../fonts/Merriweather-Bold.svg#merriweatherbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-BoldIt.eot');
    src: url('../fonts/Merriweather-BoldIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-BoldIt.woff2') format('woff2'),
         url('../fonts/Merriweather-BoldIt.woff') format('woff'),
         url('../fonts/Merriweather-BoldIt.ttf') format('truetype'),
         url('../fonts/Merriweather-BoldIt.svg#merriweatherbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Italic.eot');
    src: url('../fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Italic.woff2') format('woff2'),
         url('../fonts/Merriweather-Italic.woff') format('woff'),
         url('../fonts/Merriweather-Italic.ttf') format('truetype'),
         url('../fonts/Merriweather-Italic.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-LightIt.eot');
    src: url('../fonts/Merriweather-LightIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-LightIt.woff2') format('woff2'),
         url('../fonts/Merriweather-LightIt.woff') format('woff'),
         url('../fonts/Merriweather-LightIt.ttf') format('truetype'),
         url('../fonts/Merriweather-LightIt.svg#merriweatherlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.eot');
    src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Regular.woff2') format('woff2'),
         url('../fonts/Merriweather-Regular.woff') format('woff'),
         url('../fonts/Merriweather-Regular.ttf') format('truetype'),
         url('../fonts/Merriweather-Regular.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-UltraBdIt.eot');
    src: url('../fonts/Merriweather-UltraBdIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-UltraBdIt.woff2') format('woff2'),
         url('../fonts/Merriweather-UltraBdIt.woff') format('woff'),
         url('../fonts/Merriweather-UltraBdIt.ttf') format('truetype'),
         url('../fonts/Merriweather-UltraBdIt.svg#merriweatherultrabold_italic') format('svg');
    font-weight: 800;
    font-style: italic;
}
