<section class="comments-section">
{% if page.legacyslug.size > 0 %}
{% capture commentslug %}{{ page.legacyslug }}{% endcapture %}
{% else %}
{% capture commentslug %}{{ page.date | date: '%Y-%m-' | append: page.title | slugify }}{% endcapture %}
{% endif %}

{% if site.data.comments[commentslug] %}

    <div id="comments" class="js-comments">

        {% assign comments = site.data.comments[commentslug] | sort %}
        <h2 class="page__section-label">
            {% if comments.size > 0 %}
                {{ comments.size }}
            {% endif %}
            Comment{% unless comments.size == 1 %}s{% endunless %}
        </h2>

        {% for comment in comments %}
            {% assign id      = comment[1]._id %}
            {% assign index   = forloop.index %}
            {% assign p       = comment[1].replying_to %}
            {% assign parent  = p | to_integer %}
            {% assign avatar  = comment[1].avatar %}
            {% assign email   = comment[1].authoremail %}
            {% assign name    = comment[1].author %}
            {% assign url     = comment[1].authorurl %}
            {% assign date    = comment[1].timestamp %}
            {% assign message = comment[1].text %}

            {% if p == commentslug or p == nil %}
              {% assign is_top_level = true %}
            {% else %}
              {% assign is_top_level = false %}
            {% endif %}

            {% if is_top_level %}
              {% include comment.html index=index id=id parent=parent avatar=avatar email=email name=name url=url date=date message=message %}

              {% unless page.comments_locked == true %}
              <a rel="nofollow"
                class="reply-button"
                href="#comment-{{ comment[1]._id }}"
                onclick="return addComment.moveForm('comment-{{ comment[1]._id }}', '{{ comment[1]._id }}', 'respond', '{{ commentslug }}')">
                Reply
              </a>
              {% endunless %}
            {% endif %}
        {% endfor %}

    </div>
    <!-- End static comments -->
{% endif %}

{% unless page.comments_locked == true %}
    <!-- Start new comment form -->
    <div id="respond">
        <header>
          <h2 class="page__section-label">Leave a Comment</h2>
          <a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">
              Cancel replying (make this comment general)
          </a>
        </header>
        <p class="instruct">
        You can use asterisks to make <code>*<em>italics</em>*</code> and <code>**<strong>bold</strong>**</code>, and you can make links like so: <code>[<u>link says this</u>](and goes to this address)</code>. Hit Enter twice for a new paragraph. Other fancy formatting possible via <a href="https://kramdown.gettalong.org/quickref.html">Markdown</a>.
        </p>
        <form id="comment-form" class="page__form js-form form" method="post" action="https://api.staticman.net/v2/entry/{{ site.repository }}/master/comments">
            <fieldset>
                <textarea type="text" rows="6" class="comment-message" id="comment-form-message" placeholder="Your comment" name="fields[text]" spellcheck="true"></textarea>
            </fieldset>
            <fieldset>
                <input type="text" id="comment-form-name" name="fields[author]" spellcheck="false" />
                <label for="comment-form-name">Name <small>required</small></label>
            </fieldset>
            <fieldset>
                <input type="email" id="comment-form-email" name="fields[authoremail]" spellcheck="false" />
                <label for="comment-form-email">Email 
                    <small>optional—for <!--email notifications and -->avatars 
                        <a href="http://en.gravatar.com/support/how-to-sign-up/" target="_blank">(change your avatar)</a>
                    </small>
                </label>
            </fieldset>
            <fieldset>
                <input type="checkbox" value="{{ commentslug }}" id="options_parent" name="options[parent]">
                <label for="options[parent]">
                    Get notified when someone else comments on this post
                    <small>(unsubscribe anytime)</small>
                </label>

            </fieldset>
            <fieldset class="hidden" style="display:none;">
                <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
                <input type="hidden" id="comment-replying-to" name="fields[replying_to]" 
                       value="{{ commentslug }}" data-original-value="{{ commentslug }}">
                <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ commentslug }}">
                <label for="comment-form-location">Leave blank if you are a human</label>
                <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off"/>
            </fieldset>
            <!-- Start comment form alert messaging -->
            <p class="hidden js-notice">
            <span id="js-notice-success" class="js-notice-text hidden">
              <strong>Thanks for your comment!</strong> It will show on the site once it’s been processed.
            </span>
            <span id="js-notice-failure" class="js-notice-text hidden">
              <strong>Sorry, there was an error submitting your comment.</strong> Please make sure all the
              required fields are filled in and try again. If it still won't work, you can
              <a href="/manual-comment?slug={{ commentslug | uri_encode }}">comment manually.</a>
            </span>
            </p>
            <!-- End comment form alert messaging -->
            <fieldset>
                <button type="submit" id="comment-form-submit" class="button">Submit Comment</button>
            </fieldset>
        </form>
    </div>
    <!-- End new comment form -->
{% else %}
    <div id="respond">
      <p><em>Comments on this post are closed.</em></p>
    </div>
{% endunless %}
<!-- % endif % !-->
</section>

