{% capture cloudinary_escaped_src %}{{ include.src
  | replace: "'", "_"
  | replace: " ", "_"
}}{% endcapture %}
<figure class="image-fig {{ include.class }}">
    <a href="{% if include.elsewhere %}{{ include.src }}
      {% else %}{{ site.imageroot }}{{ site.imagelarge }}{{ cloudinary_escaped_src }}
      {% endif %}">
      <img
        {% if include.elsewhere %}
            src="{{ include.src | uri_escape }}"
        {% else %}
            src="{{ site.imageroot }}{{ site.imagesmall }}{{ cloudinary_escaped_src }}"
        {% endif %}
      />
  </a>
  {% if include.caption %}
     <figcaption>
         {{ include.caption | markdownify }}
     </figcaption>
  {% endif %}
</figure>
