<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11259314; 
var sc_invisible=1; 
var sc_security="7b9a52c2"; 
var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter">
    <a title="web statistics"
      href="http://statcounter.com/" target="_blank"><img
      class="statcounter"
      src="//c.statcounter.com/11259314/0/7b9a52c2/1/" alt="web
      statistics"></a></div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->
