// Define defaults for each variable.

$base-font-family: "SourceSerifPro", Georgia, "Liberation Serif", serif !default;
$title-font-family:"Spinnaker", Trebuchet, Arial, sans-serif;
$fancy-font-family:"Fanwood", "Californian", "Californian FB", Georgia, serif;
$mono-font-family: "Consolas", "Menlo", Courier, monospace;
$base-font-size:   14px !default;
$copy-font-size:   17px !default;
$base-font-weight: 400 !default;
$heavy-font-weight:700 !default;
$small-font-size:  14px !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #b1c3b0 !default;
$text-color-dull:  darken($text-color, 25%) !default;
$text-color-bright:lighten($text-color, 15%) !default;

$text-background-color:     #002800 !default;
$text-background-color-med: #0b240b !default;
$text-background-color-dark:#001a00 !default;

$body-background-color: #20160b;
$body-background-image: url('/assets/images/design/brown-felt.png');

$brown-color:        #331a0a !default;
$container-background-color: $brown-color;
$brown-border:       2px solid $brown-color !default;
$green-border-color: #1f4110 !default;
$green-border:       2px solid $green-border-color !default;
$green-border-thin:  1px solid $green-border-color !default;
$brand-color:        #87c16a !default;
$brand-color-dark:   darken($brand-color, 25%) !default;
$brand-border-dark:  2px solid $brand-color-dark;
$pop-color:          #e5e470 !default;
$pale-pop-color:     #ececbd !default;

$grey-color:       #999 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1100px !default;

$on-palm:          600px !default;
$on-tablet:        850px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "forest/base",
  "forest/layout",
  "forest/monokai"
  // todo include magnific-popup.css
;
