// Define defaults for each variable.

$base-font-family: "SourceSerifPro", Georgia, "Liberation Serif", serif !default;
$title-font-family:"Spinnaker", Trebuchet, Arial, sans-serif;
$fancy-font-family:"Fanwood", "Californian", "Californian FB", Georgia, serif;
$mono-font-family: "Consolas", "Menlo", Courier, monospace;
$base-font-size:   14px !default;
$copy-font-size:   16px !default;
$base-font-weight: 400 !default;
$heavy-font-weight:700 !default;
$small-font-size:  14px !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       black !default;
$text-color-dull:  lighten($text-color, 25%) !default;
$text-color-bright:$text-color;

$text-background-color:      transparent !default;
$text-background-color-med:  transparent !default;
$text-background-color-dark: transparent !default;

$body-background-color: transparent;
$body-background-image: none;

$brown-color:      transparent !default;
$container-background-color: transparent;
$brown-border:     2px solid $brown-color !default;
$green-border-color: #1f4110 !default;
$green-border:       2px solid $green-border-color !default;
$green-border-thin:  1px solid $green-border-color !default;
$brand-color:        #555 !default;
$brand-color-dark:   darken($brand-color, 25%) !default;
$brand-border-dark:  2px solid $brand-color-dark;
$pop-color:        $text-color;
$pale-pop-color:   $text-color-dull;

$grey-color:       #333 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    100% !default;

$on-palm:          600px !default;
$on-tablet:        850px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "forest/base",
  "forest/layout",
  "forest/monokai"
  // todo include magnific-popup.css
;

// Override some things for print.
#sidebar {
  display: none;
}
.main-content {
  padding-right: 0;
}
* {
  text-shadow: none !important;
  box-shadow: none !important;
}

article.post a:not( [href^="#"] ):not(.mfp-trigger) {
  // that is, all links that don't go to somewhere on the same page
  text-decoration: underline !important;

  &:after {
    content: " (" attr(href) ")";
    font-size: $small-font-size;
    font-style: italic;
  }

  &[href^="/"]:after {
    content: " (www.chuckmasterson.com" attr(href) ")"; 
  }
}

.image-fig,
.image-fig figcaption {
  border: none;
}

.reversefootnote,
.reply-button,
#respond,
.post-to-post-nav {
  display: none !important;
}
.comment__avatar img {
  background-color: black;
}
