/**
 * Site header
 */
.site-header {
  min-height: 56px;
  text-align: center;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  background-color: $background-color;
  border-bottom: $green-border;
  padding: 10px 0;
  z-index: 1;
  position: relative;

  .tagline {
    color: $grey-color;
    font-size: $small-font-size;
  }

  h1 {
    font-family: $fancy-font-family;
    font-feature-settings: "smcp" 1;
    letter-spacing: 2px;
    font-size: 28.8px; // yes, exactly 28.8
    font-weight: 300;
    line-height: 28.8px;
    margin-bottom: 0;

    a {
      color: $grey-color-light;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.site-nav {
  font-family: $title-font-family;

  .menu-icon {
    display: none;
  }

  .page-list {
    margin-top: -2px;
    padding-bottom: 6px; // allows box-shadow to be visible below
    overflow: hidden;    // stops box-shadow from leaking above
  }

  .page-link {
    //list-style-type: none;
    display: inline-block;
    color: $grey-color-light;
    line-height: $base-font-size;
    margin: 0 5px;
    padding: 9px 15px;
    box-shadow: 0 1px 5px #111;
    border: $green-border;
    background-color: $dark-background-color;
    border-radius: 0 0 10px 10px;
    border-top: none;
    position: relative;

    &.active {
      font-color: white;
      z-index: 2;
      background-color: $background-color;
    }
  }

  @include media-query($on-palm) {

    .page-list {
      display: none;
      margin-top: 0;
    }
    .page-list.palm-show {
      display: block;
    }
    .menu-icon, .page-link {
      display: block;
      width: 100%;
      padding: 8px;
      text-align: center;
      margin: 0;
      box-shadow: none;
      border: none;
      border-bottom: $green-border;
      background-color: $background-color;
      line-height: 14px;
      border-radius: 0;

      > svg path {
        fill: $grey-color;
      }
    }
    .page-link.active {
        background-color: $dark-background-color;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
article.post {
  border: $brown-border;
  background-color: $brown-color;
  box-shadow: 0 0 5px #000;
  border-radius: 10px 10px 0 0;

  p {
    margin: 0;
    text-indent: 15px;
  }
  // todo: make this more complicated
}
.post-container {
  background-color: $background-color;
  padding: 0 40px;
}
.post-date {
  margin: 3px 0;
  text-align: center;
  font-family: $title-font-family;
  color: $grey-color-light;
  letter-spacing: 1.5px;
  text-shadow: -1px 1px #111;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font: normal normal 26px $title-font-family;
  padding: 40px;
  text-align: center;
  color: $pop-color;
  text-shadow: 3px 3px 2px #000;

  p { margin: 0 auto; }

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * _includes/fig.html
 */
.image-fig a {
  display: inline-block;
  position: relative; }
.image-fig a:after {
  content: "";
  position: absolute;
  top: 1em;
  right: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: url(/assets/svg/plus.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.7);
}
