.hide-when-emails-busted {
  // Temporary hide while this gets debugged or finally abandoned as hopeless.
  display: none;
}
/**
 * Site header
 */
.site-header {
  min-height: 56px;
  text-align: center;
  max-width: 100%;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  background-color: $text-background-color;
  border-bottom: $green-border;
  padding: 15px 0;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 5px #000;

  .tagline {
    color: $grey-color;
    // font-size: $small-font-size;
    margin: 0 $spacing-unit;
  }

  h1 {
    font-family: $fancy-font-family;
    font-feature-settings: "smcp" 1;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;

    a {
      color: $grey-color-light;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
/*
.site-nav {
  font-family: $title-font-family;

  .menu-icon {
    display: none;
  }

  .page-list {
    margin-top: -2px;
    padding-bottom: 6px; // allows box-shadow to be visible below
    overflow: hidden;    // stops box-shadow from leaking above
  }

  .page-link {
    //list-style-type: none;
    display: inline-block;
    color: $grey-color-light;
    line-height: $base-font-size;
    margin: 0 5px;
    padding: 9px 15px;
    box-shadow: 0 1px 5px #111;
    border: $green-border;
    border-radius: 0 0 10px 10px;
    border-top: none;
    position: relative;

    &.active {
      font-color: white;
      z-index: 2;
      background-color: $background-color;
    }
  }

  @include media-query($on-palm) {

    .page-list {
      display: none;
      margin-top: 0;
    }
    .page-list.palm-show {
      display: block;
    }
    .menu-icon, .page-link {
      display: block;
      width: 100%;
      padding: 8px;
      text-align: center;
      margin: 0;
      box-shadow: none;
      border: none;
      border-bottom: $green-border;
      background-color: $background-color;
      line-height: 14px;
      border-radius: 0;

      > svg path {
        fill: $grey-color;
      }
    }
    .page-link.active {
    }
  }
}
*/


/**
 * Site footer
 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.site-footer {
  border-top: $brown-border;
  color: $text-color-dull;
  background-color: $text-background-color-dark;
  padding: $spacing-unit 0;
  p + p {
    margin-top: 10px;
  }
  .button {
    margin: 4px 0;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  font-family: $title-font-family;
  font-size: $small-font-size;
  float: left;
  text-align: center;
  width: 50%;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  // works with body { display: flex; } to expand main to fill available space
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Home page
 */

.whole-post-link {
  margin-top: $spacing-unit;
}
.home .post .prefatory:not(:only-of-type) {
  /* the pseudo bit means I don't have to put an excerpt_separator in all
   * my old posts that have a prefatory paragraph at the beginning */
  display: none;
}

/**
 * Posts
 */
article.post {
  border: $brown-border;
  background-color: $container-background-color;
  box-shadow: 0 0 5px #000;
  border-radius: 10px 10px 0 0;
  line-height: 1.8;
  width: 100%;
  margin-bottom: $spacing-unit/2;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
.post-content, section.comments-section {
  font-size: $copy-font-size;
  p {
    margin: 0;
    text-indent: 25px;
    text-align: justify;

    &.run-in,
    &:first-child, {
      text-indent: 0;
    }
  }
  h1+p,h2+p,h3+p,h4+p,h5+p,h6+p,hr+p {
    text-indent: 0;
  }
  p.text-center, p.text-right {
    margin: 10px auto;
  }
  strong {
    color: $text-color-bright;
  }
  a strong {
    color: inherit;
  }
  hr {
    border: 0;
    height: $spacing-unit / 2;
    background-color: transparent;
  }

  .footnote {
      &:before {
          content: '[';
      }
      &:after {
          content: ']';
      }
  }
  h1, h2, h3 {
    .footnote {
      font-size: $small-font-size;
    }
  }
  .footnotes p {
    text-align: left;
  }
  // more of .footnotes (the list) is down a bit
}
.post-content {
  > .prefatory + p:not(.prefatory) {
    margin-top: 10px;
  }
  > p:first-child,
  > p.force-drop,
  > .prefatory + p:not(.prefatory) {
    text-indent: 0;
    &:first-letter {
      font-size: 58px;
      font-family: $fancy-font-family;
      line-height: 47px;
      float: left;
      margin: 11px 2px -5px 0;
    }
  }
  > p.no-drop:first-letter,
  > p.prefatory:first-letter {
    font-size: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
    float: none !important;
    margin: 0 !important;
  }
  figure {
    margin-left: auto;
    margin-right: auto;

    img {
      max-height: 85vh;
    }
  }
}

blockquote {
  &.prefatory {
    border: none;
    font-size: $small-font-size;
  }
  cite {
    display: block;
    font-style: normal;
    text-align: right;
    &:before {
      content: '—';
    }
  }
}

.preview > p:last-of-type:after {
  content: ' …';
}

p.filing {
  text-align: center;
  font-family: $title-font-family;
  padding-bottom: $spacing-unit;
}

.post-container {
  background-color: $text-background-color;
  border-top: 1px solid rgba(0,0,0,.35);
  padding: 0 40px 40px 40px;
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
}
.post-date {
  margin: 3px 0;
  text-align: center;
  font-family: $title-font-family;
  color: $grey-color-light;
  letter-spacing: 1.5px;
  text-shadow: -1px 1px #111;
}

header.post-header {
  font-family: $title-font-family;
  em, strong {
    font-family: $base-font-family;
    font-size: 95%;
  }
  padding: 40px;
  text-align: center;
  color: $pop-color;
  text-shadow: 3px 3px 2px #000;
  line-height: 1.2;
  h1, h1 a {
    font-size: 26px;
    color: $pop-color;
    font-weight: $base-font-weight;
  }
  .subtitle {
    font-size: 17px;
    margin: 0 auto;
  }

  .author-box {
    display: inline-block;
    margin-top: 2em;
    border-radius: 37px 0  0 37px;
    border: $green-border-thin;
    background-color: #001a00;
    padding: 2px;
  }
  .author-pic {
    height: 70px;
    border-radius: 50%;
    float: left;
  }
  .author-name {
    display: inline-block;
    font-family: $base-font-family;
    font-style: italic;
    text-shadow: -1px -1px rgb(0,0,0);
    padding: 0 30px;
    height: 70px;
    line-height: 68px;
}

  @include media-query($on-palm){
    padding: 40px 20px;
  }
}


@include media-query($on-palm) {
  .post-container {
    padding: 0 20px;
  }
  article.post .post-title {
    font-size: 26px;
  }
  .post-content {
    font-size: 12.5px;
  }
}

nav.post-to-post-nav {
  border: $brown-border;
  background-color: $text-background-color-dark;
  font-family: $title-font-family;
  .prev-post, .next-post {
    span {
      display: block;
    }
    p {
      margin: 0;
    }
    em, strong {
      font-family: $base-font-family;
      font-size: 95%;
    }
    width: 50%;
    padding: 5px 15px;
    display: inline-block;
  }
  .next-post {
    > span:before {
      content: "« ";
    }
    float: left;
    text-align: left;
  }
  .prev-post {
    > span:after {
      content: " »";
    }
    float: right;
    text-align: right;
  }
  .wayfinding-link {
    text-align: center;
    padding: 5px 15px;
    clear: both;
    border-top: $green-border-thin;
    &:first-child {
      border-top: none;
    }
  }
}

/**
 * Comments - which are rightly a part of Posts,
 * but need enough CSS of their own that they
 * get their own section
 */

// Comment titles.
.comments-section{
  h2 {
    font-family: $title-font-family;
    font-weight: $base-font-weight;
    text-align: center;
    color: $pop-color;
    text-shadow: 3px 3px 2px #000;
    line-height: normal;
  }
  #comments > h2 {
    padding: $spacing-unit 0;
  }
}

// Comment-to-comment spacing and separator.
.comment {
  h3 {
    margin-top: 0;
    font-weight: $base-font-weight;
  }
  &.child {
    padding-bottom: $spacing-unit/2;
  }
  &.child:last-child {
    padding-bottom: 0;
  }
  &.child, & + #respond {
    // #respond doesn't get given any special class when moved
    // to child positioning, so have to use sibling selector
    padding-left: $spacing-unit/3;
    border-left: 5px solid $brand-color-dark;
    padding-top: $spacing-unit/2;
  }
  &.child + .comment.child {
    padding-top: 0;
    margin-top: -20px;
  }
}
.reply-button + .comment,
.comment.child + .comment.child,
.reply-button + #respond,
#comments + #respond,
.footnotes {
// footnotes are here just because it's convenient, they're unrelated
  &:before {
    display: block;
    width: 8px; height: 8px;
    background: $brand-color;
    border-radius: 50%;
    margin: 20px auto;
    content: '';
  }
}

#respond {
  .instruct {
    font-size: $base-font-size;
    margin-bottom: $spacing-unit/2;
  }
  header {
    margin-bottom: $spacing-unit;
    a {
      display: block;
      font-weight: $heavy-font-weight;
      text-align: center;
    }
  }
}

.comment__avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  img {
    width: 100%;
    height: 100%;
  }
}
article.comment header {
  font-size: $base-font-size;
  line-height: 1.5;
  .comment__source-link {
    display: none;
    color: $brand-color-dark;
  }
  &:hover .comment__source-link {
    display: inline;
  }
}
.comment__author-name,
.comment__timestamp {
  font-family: $title-font-family;
}
.comment__content {
  clear: left;
  padding: $spacing-unit/3 0;
}
a.reply-button, a.cancel-button {
  border: $brand-border-dark;
  display: inline-block;
  background-color: #001a00;
  padding: 3px 10px 3px 10px;
  font-family: $title-font-family;
  border-radius: 0 15px 15px 0px;
}
// These are mostly the same but need some tweaks because .cancel-button
// manifests as a child element and .reply-button just looks like one.
a.reply-button {
  border-left-width: 5px;
}
a.cancel-button {
  margin-left: -10px;
  border-left: 0;
}
#comment-form {
  margin-bottom: $spacing-unit/2;
}
#comment-form-submit {
  font-size: 14px;
}
/**
 * Forms (post comments, /subscribe/)
 */

fieldset {
  border: none;
  margin: 0;
  padding: 0 0 $spacing-unit/3 0;
}
label {
  font-family: $title-font-family;
  font-weight: $base-font-weight;
  color: $pop-color;
  small {
    color: $pale-pop-color;
  }
}
textarea, input {
  font-family: $base-font-family;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.25) inset;
  padding: 5px;
  border: 1px solid $brown-color;
  background-color: $text-background-color-dark;
  font-size: $small-font-size;
  color: $grey-color-light;
  &:disabled {
    color: rgba(255,255,255,.2);
  }
}
button:disabled {
  color: rgba(255,255,255,.2);
  cursor: default;
}
textarea.comment-message {
  width: 100%;
  font-family: $mono-font-family;
  display: block;
}
.js-notice {
  text-align: center;
  display: block;
  font-family: $title-font-family;
  strong {
    font-weight: normal;
    color: $pale-pop-color;
  }
}

/**
 * Subscribe page
 */
.subscribe-form {
  .gotcha {
    display: none;
  }
}


/**
 * Sidebar
 */
.main-content {
  padding-right: 240px;
  width: 100%;
  float: left;
}
aside#sidebar {
  width: 225px;
  margin-left: -225px;
  float: right;
  border: $green-border;
  background-color: $text-background-color-dark;
  nav {
    border-bottom: $green-border-thin; 
  }
  section.mobile-controls {
    display: none;
  }
  section.mainnav a {
    display: block;
    padding: 5px 13px;
    &.active {
      background-color: $text-background-color;
    }
    & + a {
      border-top: $green-border-thin;
    }
    span {
      display: block;
      font-family: $title-font-family;
      &.title {
        color: $pale-pop-color;
      }
      &.description {
        font-size: $small-font-size;
      }
    }
  }
  section.sidebar-other {
    padding: 10px 13px;
    h4 {
      font-family: $title-font-family;
      font-weight: $base-font-weight;
    }
    ul {
      font-size: $small-font-size;
      font-family: $title-font-family;
      list-style: none outside;
      padding-left: 0;
      margin-left: $spacing-unit / 2;
      li {
        text-indent: -$spacing-unit / 2;
      }
    }
  }
}

@include media-query($on-tablet) {
  aside#sidebar {
    display: block;
    position: fixed;
    width: 250px;
    max-width: 80vw;
    z-index: 2;
    height: 100vh;
    right: -250px;
    transition: right 0.3s;
    top: 0;
    &:target, &.open {
      right: 0;
      box-shadow: 0 0 5px #000;
      transition: right 0.3s;
    }
    section.mobile-controls {
      display: block;
      padding: 5px 13px;
      border-bottom: $green-border-thin;
      font-family: $title-font-family;

      a.close-button {
        font-size: 18px;
        display: block;
        padding: 5px 0;
        span { float: right; }
      }

      .shadow-wrapper {
        overflow: hidden;
        padding: 5px 5px 0 5px;
        position: absolute;
        left: -57px;
        transform: rotate(-90deg);
        top: $spacing-unit * 3;
      }
      a.menu-button {
        display: block;
        padding: 10px;
        border: $green-border;
        border-bottom: none;
        box-shadow: 0 0 5px #000;
        line-height: 14px;
        border-radius: 6px 6px 0 0;
        background-color: $text-background-color-dark;
      }
    }
  }
  .main-content {
    padding-right: 0;
  }
}

/**
 * Wayfinding page
 */

.wayfinding-block {
  @extend %clearfix;
  display: table-row;
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  &.fullwidth {
    display: block;
  }
}
.wayfinding-choices, .wayfinding-results {
  width: 50%;
  display: table-cell;
  @extend %clearfix;
  font-size: $small-font-size;
}
.wayfinding-choices {
  padding-right: $spacing-unit/2;
}
.wayfinding-results {
  padding-left: $spacing-unit/2;
  .li-date {
    font-family: $title-font-family;
  }
}
.wayfinding-section {
  display: none;
  &:target, &.chosen {
    display: block;
    position: sticky;
    top: 0;
  }
  &.chosen ~ .wayfinding-section:target {
    display: none;
  }
}
h2.opener {
  font-family: $title-font-family;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: $pale-pop-color;
  text-shadow: 1px 1px rgba(0,0,0,.5);
  position: relative;
  z-index: 1;
  span {
    background-color: $brand-color-dark;
    padding: 0 8px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 2px #000;
  }
  &:before {
    border-top: $green-border-thin;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
  }
}

/* Calendar */

.calendar.closed {
  display: none;
}

table.calendar {
  width: 100%
}

table.calendar td:first-of-type {
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
  width: 25%;
}

table.calendar td:last-of-type {
  padding-left: 10px;
  border-bottom: $green-border-thin;
  font-size: $small-font-size;
}

table.calendar tr:last-of-type td {
  border-bottom: none;
}
table.calendar ul {
  margin-top: 0;
}

/**
 * Some leftovers that need tidying up
 */

.post-content {
  padding-bottom: $spacing-unit;

  h2 {
    clear: both;
    font-size: 21px;

    @include media-query($on-tablet) {
      font-size: 19px;
    }
  }

  h3 {
    clear: both;
    font-size: 16px;

    @include media-query($on-tablet) {
      font-size: 14.5px;
    }
  }

  h4 {
    clear: both;
    font-size: 16px;
    font-weight: $base-font-weight;
    font-style: italic;
    em { font-style: normal; }

    @include media-query($on-tablet) {
      font-size: 14.5px;
    }
  }

  h5 {
    clear: both;
    font-size: 14px;
    letter-spacing: 1.5px;

    @include media-query($on-tablet) {
      font-size: 12.5px;
    }
  }

  h6 {
    clear: both;
    font-size: 14px;
    font-feature-settings: "smcp" 1;

    @include media-query($on-tablet) {
      font-size: 14.5px;
    }
  }
  button {
    font-size: $base-font-size;
  }
}

/**
 * Miscellany
 */

hr.visible {
  border: none;
  border-top: $green-border-thin;
  margin: $spacing-unit/2 $spacing-unit;
  height: 0;
}
ul.inline-list {
  margin-left: 0;
  li {
    display: inline;
    & + li:before {
      content: " · ";
    }
  }
}
ul.dated-list {
  margin-left: $spacing-unit/2;
  text-indent: -$spacing-unit/2;
  li { 
    display: block;
  }
  .li-date {
    color: $grey-color;
    &:after {
      content: " | ";
    }
  }
}
.button {
  display: inline-block;
  background-color: $text-background-color-dark;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: -1px 1px 2px #000;
  border: $green-border-thin;
  color: $pale-pop-color;
  cursor: pointer;
  font-family: $title-font-family;
  line-height: normal;
  &.button-compact {
    padding: 2px 8px;
  }
}
.gloss {
  margin: $spacing-unit/3 auto;
  line-height: 1.2;
  td {
    padding: 0 4px;
  }
}

.audio-button {
  cursor: pointer;
  position: relative;
  bottom: 2px;
  margin: 0 3px;
  img {
    width: 15px;
  }
}

.poem {
  ul {
      list-style: none outside;
      padding-left: 0;
      margin-left: $spacing-unit / 2;
      li, li li {
      text-indent: -$spacing-unit / 2;
    }
    ul {
      margin-top: 0;
    }
    + ul {
      margin-top: 1.4em;
    }
  }
}
section.poem {
  width: fit-content;
  max-width: 90%;
  margin: auto;
}


/**
 * _includes/fig.html
 */
.image-fig {
  clear: both;
  display: table;
  padding: 2px;
  margin: $spacing-unit/3 auto;
  border: $green-border-thin;
  background-color: $text-background-color-med;
  > a {
    display: block;
    position: relative; 
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    padding: $spacing-unit/6 $spacing-unit/4;
    border: $green-border-thin;
    border-top: 0;
    margin-top: -1px;
    background-color: $text-background-color-med;
  }
  &.topcaption figcaption {
    caption-side: top;
    margin-top: 0;
    margin-bottom: -1px;
    border-top: inherit;
    border-bottom: 0;
  }
  &.white img {
    background-color: #fff;
  }
  &.left, &.right {
    max-width: 50%;
  }
  &.left {
    float: left;
    margin: 0 15px 10px 0;
  }
  &.right {
    float: right;
    margin: 0 0 10px 15px;
  }
}
.image-fig-positioning + .image-fig-positioning {
    margin-top: $spacing-unit;
    }

/* having this little overlay turned out to be annoying
.image-fig a:after {
  content: "";
  position: absolute;
  top: 1em;
  right: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: url(/assets/svg/plus.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.7);
}*/
