---
layout: default
---

<div class="home">


  {% for post in site.posts limit:7 %}
    <article class="post">
        <p class="post-date">
        <time datetime="{{ post.date | date_to_xmlschema }}" 
            itemprop="datePublished">
            {{ post.date | date: "%A, %B %-d, %Y" }}
        </time>
        </p>
        <div class="post-container">
            <header class="post-header">
                <h1 class="post-title" itemprop="name headline">
                    <a href="{{ post.url }}">
                        {{ post.title | escape | markdownify }}
                    </a>
                </h1>
                {% if post.subtitle %}
                <p class="subtitle">{{ post.subtitle | escape | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</p>
                {% endif %}
            </header>

            <div class="post-content preview" itemprop="articleBody">
                {{ post.excerpt | markdownify }}
                <div class="text-center whole-post-link">
                    <a class="button button-compact" href="{{ post.url }}">Read the whole post</a>
                </div>
            </div>
        </div>
    </article>
  {% endfor %}

  <nav class="post-to-post-nav">
    <div class="next-post">
      <span>These are the newest posts</span>
    </div>
    <div class="prev-post">
      <span><a href="/blog/page-2">Next Oldest {{ site.paginate }} Posts</a></span>
    </div>
    <div class="wayfinding-link">
      Find other posts:
      <a href="/wayfinding#topic-archive">by topic</a> ·
      <a href="/wayfinding#place-archive">by place</a> ·
      <a href="/wayfinding#date-archive">by date</a>
    </div>
  </nav>

</div>
