---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <p class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" 
          itemprop="datePublished">
          {{ page.date | date: "%A, %B %-d, %Y" }}
      </time>
  </p>
  <div class="post-container">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title | escape | markdownify }}
        </h1>
        {% if page.subtitle %}
            <p class="subtitle">{{ page.subtitle }}</p>
        {% endif %}
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <p class="filing text-center">
      {% if page.categories.size > 0 %}
      File under: 
      {% for cat in page.categories %}
      <a href="{{ site.baseurl }}/categories#{{ cat | slugify }}"
         >{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% if page.tags.size > 0%} · {% endif %}
      {% endif %}

      {% if page.tags.size > 0%}
      Places: {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/places#{{ tag | slugify }}"
         >{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% endif %}
      </p>

      {% include comments.html %}
  </div>

</article>
