---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <p class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" 
          itemprop="datePublished">
          {{ page.date | date: "%A, %B %-d, %Y" }}
      </time>
  </p>
  <div class="post-container">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title | escape | markdownify }}
        </h1>
        {% if page.subtitle %}
            <p class="subtitle">{{ page.subtitle | escape | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</p>
        {% endif %}
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <p class="filing">
      {% if page.categories.size > 0 %}
      File under: 
      {% for cat in page.categories %}
      <a href="{{ site.baseurl }}/wayfinding#topic-{{ cat | slugify }}"
         >{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% if page.tags.size > 0%} · {% endif %}
      {% endif %}

      {% if page.tags.size > 0%}
      Places: {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/wayfinding#place-{{ tag | slugify }}"
         >{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% endif %}
      </p>

      <hr class="visible" />
      {% include comments.html %}
  </div>

</article>
<nav class="post-to-post-nav">
  <div class="next-post">
    <span>{{ page.next.date | date: "%b %-d, %Y" }}</span>
    <a href="{{ page.next.url }}">{{ page.next.title | escape | markdownify }}</a>
  </div>
  <div class="prev-post">
    <span>{{ page.previous.date | date: "%b %-d, %Y" }}</span>
    <a href="{{ page.previous.url }}">{{ page.previous.title | escape | markdownify }}</a>
  </div>
  <div class="wayfinding-link">
    Find other posts:
    <a href="/wayfinding#topic-archive">by topic</a> ·
    <a href="/wayfinding#place-archive">by place</a> ·
    <a href="/wayfinding#date-archive">by date</a>
  </div>
</nav>
